* {
	box-sizing: border-box;
}

body {
	max-width: 500px;
	margin: 0 auto;
	background-color: #148;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;;
	text-align: center;
	user-select: none;
	color: #fff;
}
a {
	color: #9cf;
}
h1 {
	margin: 0;
	margin-top: 10px;
}
p {
	margin: 10px 0;
}
#editor {
	width: 100%;
	margin: 0 auto;
	text-align: left;
}
.editor-row {
	display: flex;
	flex-direction: row;
	gap: 0 10px;
	width: 100%;
	margin-bottom: 20px;
}
.editor-column {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
}
svg,
canvas {
	display: inline-block;
	width: auto;
	background-color: #fff;
	border: solid 1px #000;
	color: #fff;
}
input[type='text'],
input[type='number'],
textarea {
	width: 100%;
	border: solid 1px #000;
	border-radius: 5px;
	padding: 8px 10px;
	font-family: monospace;
	font-size: 24px;
}
